.parallax {
  overflow: hidden;
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 10px 12px;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

@media screen and (max-width: 425px ){
  .parallax {
    margin: 10px 32px;
  }
}

.parallax .scroller {
  font-weight: 500;
  font-size: 24px;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin: 0px 24px 6px;
}
