<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		Copyright © {new Date().getFullYear()}. All rights reserved. Made by
		<a href="https://github.com/eugenia1984" target="_blank" rel="noopener">
			<span class="text-orange"> María Eugenia Costa</span>
		</a>
	</p>
</footer>
