#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

div.language-select div#language {
  padding-top: 8px;
  background-color: #FFFFFF80;
}

#nombre,
#email,
#mensaje {
  padding-top: 12px;
}

#project,
#experience,
#contact {
  min-height: 92vh;
}