---
import { Icon } from 'astro-icon';
---

<a href="https://github.com/eugenia1984" target="_blank" rel="noopener" aria-label="github of eugenia1984">
	<Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:github"
	/>
</a>
<a href="https://www.linkedin.com/in/maríaeugeniacosta/" target="_blank" rel="noopener" aria-label="linkedin profile of maríaeugeniacosta">
	<Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:linkedin"
	/>
</a>
